
.modal {
    display: flex; /* Flexbox para centrar contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: fixed; /* Fijo para mantenerse en el centro al hacer scroll */
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    height: 100vh; /* Ocupa todo el alto de la ventana */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 90%; /* Opcional: ajusta el tamaño máximo del modal */
        max-width: 500px; /* Tamaño máximo del modal */
    }
    
    .modal-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }
    
    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .btn-secondary {
        background-color: #ccc;
        color: black;
    }
    
    .btn-danger {
        background-color: #e74c3c;
        color: white;
    }

}
    



