@use 'variables' as v;

.posts{
    margin-bottom: 10px;
    animation: fadeIn 0.3s ease-in-out;
    .post{
        border-bottom: 1px solid v.$text;     
        padding-bottom: 10px;
    }
}

.botones-paginacion{
    display: flex;
    gap: 10px;
    justify-content: center;

    a:hover{
        color: v.$secundary;
    }

    .disabled:hover{
        color: v.$text;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}