@use 'variables' as v;

.posts{
    margin-bottom: 10px;
    animation: fadeIn 0.3s ease-in-out;
    .post{
        border-bottom: 1px solid v.$text;     
        padding-bottom: 10px;

        a:hover{
            color: v.$secundary;
        }
    }
}

.botones-paginacion{
    display: flex;
    gap: 10px;
    justify-content: center;

    a:hover{
        color: v.$secundary;
    }

    .disabled:hover{
        color: v.$text;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-posts{
    display: flex;
    flex-direction: column;
}

.panel-busqueda{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .formulario-busqueda{

        .boton-busqueda{
            margin-left: 3px;
            font-weight: bold;
            margin-top: 20px;
            font-size: small;
            border: 2px solid v.$text;
            border-radius: 5px;
            padding: 3px 5px;
            font-family: v.$button-font;
        }
        
        .boton-busqueda:hover{
            background-color: v.$secundary;
            color: white;
        }
    }
}



