//tipografia
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400&family=Montserrat:wght@600&display=swap');

// Variables globales

$primary: #F7F7F7;
$secundary: #5A85F7;
$text: #333;
$button-color: #4178D3;
$secundary-element: #E5E5E5;

// Variables de tipografía
$primary-font: 'Playfair Display', serif;
$secundary-font: 'Reboto', sans-serif;
$button-font: montserrat, sans-serif;